{% extends 'dashboard/dash_base.html' %}
{% load static %}
{% block title %}Comments{% endblock %}
{% block body %}


<div class="container mt-5">
    <h2 class="mb-4"> commnets </h2>

    <div class="card mb-3">
        <div class="card-header">
            <strong>Shona67</strong> commented on <em>"Converting plastic waste to fuel"</em>
            <span class="float-right">30 Oct 2023</span>
        </div>
        <div class="card-body">
            <p>sd</p>
        </div>
        <div class="card-footer text-muted">
            Awaiting moderation
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <strong>Shona67</strong> commented on <em>"Converting plastic waste to fuel"</em>
            <span class="float-right">22 Sept 2023</span>
        </div>
        <div class="card-body">
            <p>df</p>
        </div>
        <div class="card-footer text-muted">
            Awaiting moderation
        </div>
    </div>
</div>


</div>

{% endblock body %}