{% extends 'dashboard/dash_base.html' %}
{% load static %}
{% block title %}Comments{% endblock %}
{% block body %}


<div class="container mt-5">
    <h2 class="mb-4"> Commnets </h2>
    {% for comment in all_comments %}

    <div class="card mb-3">
        <div class="card-header">
            <strong>{{comment.name}}</strong> commented on: <strong>{{comment.post}}</strong>
            <span class="float-right">{{comment.created_at|date:"d M Y"}}</span>
        </div>
        <div class="card-body">
            <p>{{comment.comment_text}}</p>
        </div>
        {% if not comment.approved %}
        <div class="card-footer text-muted">
            Awaiting moderation
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>




</div>


</div>

{% endblock body %}